{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!
{% endblock %}

{% block body %}
	<div class=" grid-y grid-padding-x">
		<div class="grid-x align-center">
			<button class="button primary">Drinken</button>
			<button class="button primary">Voorgerecht</button>
			<button class="button primary">Hoofdgerecht</button>
			<button class="button primary">Nagerecht</button>
		</div>
		<main class="grid-x grid-margin-x grid-margin-y align-center">
			{% for gerecht in gerechten %}
				<div class='gerecht-card card small-12 medium-6 large-3 cell text-center rounded'>
					<h3>{{gerecht.gerecht}}
						- nr:
						{{gerecht.id}}</h3>
					<div class="card-section">
						<p>{{gerecht.beschrijving}}</p>
						<p>
							€{{gerecht.Prijs}}</p>
					</div>
					<div class="card-image">
						<img src="{{asset('images/' ~ gerecht.image)}}" alt="{{gerecht.beschrijving}}">
					</div>
				</div>
			{% endfor %}
		</main>
	</div>
{% endblock %}
