{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!
{% endblock %}

{% block body %}
	<div class=" grid-y grid-padding-x">
		<div class="grid-x align-center">
			<a href={{path('app_menu',{filter: 'drinken'} )}} class="button primary">Drinken</a>
			<a href={{path('app_menu',{filter: 'voorgerecht'} )}} class="button primary">Voorgerecht</a>
			<a href={{path('app_menu',{filter: 'hoofdgerecht'} )}} class="button primary">Hoofdgerecht</a>
			<a href={{path('app_menu',{filter: 'nagerecht'} )}} class="button primary">Nagerecht</a>
			<a href={{path('app_menu',{filter: ''} )}} class="button primary">Geen Filter</a>
		</div>
		{% for message in app.flashes('bestellen')%}
			<div data-closable class="alert-box callout success">
				<i class="fa fa-check"></i>
				{{message}}
				<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
					<span aria-hidden="true">&CircleTimes;</span>
				</button>
			</div>
		{% endfor %}
		<main class="grid-x grid-margin-x grid-margin-y align-center">
			{% for gerecht in gerechten %}
				<div class='gerecht-card card small-12 medium-6 large-3 cell text-center rounded'>
					<h3>{{gerecht.gerecht}}
						- nr:
						{{gerecht.id}}</h3>
					<div class="card-section">
						<div class="grid-x align-center">
							<p>{{gerecht.beschrijving}}
								€{{gerecht.Prijs}}
							</p>
						</div>
						<a class="hollow button warning" href="{{path('app_bestellen',{id: gerecht.id})}}">bestel</a>
					</div>
					<div class="card-image">
						<img src="{{asset('images/' ~ gerecht.image)}}" alt="{{gerecht.beschrijving}}">
					</div>
				</div>
			{% endfor %}
		</main>
	</div>
{% endblock %}
