<nav class="top-bar-container" data-sticky-container>
	<div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
		<div class="top-bar">
			<div class="top-bar-left">
				<ul class="dropdown menu" data-dropdown-menu>
					<a class="menu-text" href="{{ path('home') }}">
						<i class="fa fa-utensils"></i>
					</a>
					<li>
						<a href="{{ path('app_menu')}}">Menukaart</a>
					</li>
					<li>
						<a href="{{ path('app_bestelling')}}">
							{% if is_granted('IS_AUTHENTICATED_FULLY')%}
								Bestellingen
							{% endif %}
							{% if not is_granted('IS_AUTHENTICATED_FULLY')%}
								Mijn bestelling
							{% endif %}
						</a>
					</li>
					{% if is_granted('IS_AUTHENTICATED_FULLY')%}
						<li class="has-submenu">
							<a href="#">Werknemer</a>
							<ul class="submenu menu vertical" data-submenu>
								<li>
									<a href="{{ path('app_tafel_number')}}">Tafel toevoegen</a>
								</li>
								<li>
									<a href="{{ path('gerechten.maak') }}">Nieuw gerecht</a>
								</li>
								<li>
									<a href="{{ path('gerechten.aanpassen') }}">Gerechten</a>
								</li>
							</ul>
						</li>
					{% endif %}
				</ul>
			</div>
			<div class="top-bar-right">
				<ul class="menu">
					{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
						<li>
							<a href="{{ path('app_login')}}" class="button success">Login</a>
						</li>
					{% endif %}
					{% if is_granted('IS_AUTHENTICATED_FULLY')%}
						<li>
							<a href="{{path('registratie')}}">Registreer</a>
						</li>
						<li>
							<a href="{{ path('app_logout')}}" class="button alert">Logout</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</nav>
