{% extends 'base.html.twig' %}

{% block title %}Bestelling
{% endblock %}

{% set totaalBedrag = 0 %}
{% block body %}
	<div class="grid-y align-center">
		<h2>Bestelling</h2>
		<div>
			<table>
				<thead>
					<tr>
						<th>Bestel Nr.</th>
						<th>Naam</th>
						<th>Prijs</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					{% for bestelling in bestellingen %}
						{% set totaalBedrag = totaalBedrag + bestelling.prijs %}
						<tr>
							<td>{{bestelling.bestelNummer}}</td>
							<td>{{bestelling.name}}</td>
							<td>{{bestelling.prijs}}</td>
							<td>{{bestelling.status}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<h4>Totaal: €{{totaalBedrag}}</h4>
		</div>
	</div>
{% endblock %}
